<%- include("../partials/header.ejs") %>
<main>
    <% if(cores.length > 0) { %>
        <div class="container cores">
            <div class="row">
        <% for(let core of cores) { %>
            <div class="col-md-4">
                <div class="card">
                    <img src="<%= core.img %> " class="card-img-top" alt="PCI TEST">
                    <div class="card-body">
                        <h5 class="card-title">Name: <%= core.name %></h5>
                        <p class="card-text">Post: <%= core.post %></p>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    </div>
    <% }else{ %>
    <div>
        No events
    </div>
    <% } %>
</main>

<%- include("../partials/footer.ejs") %>