<%- include("../partials/header.ejs") %>
<main>
    <% if(cores.length > 0) { %>
    <div>
        <% for(let core of cores) { %>
        <div>
            <%= core.name %>
        </div>
        <div>
            <%= core.post %>
        </div>
        <div>
            <a href="<%= core.img %>"></a>
        </div>
        <% } %>
    </div>
    <% }else{ %>
    <div>
        No events
    </div>
    <% } %>
</main>

<%- include("../partials/footer.ejs") %>