<%- include("../partials/header.ejs") %>
<main>
    <% if(firstyrs.length > 0) { %>
    <div class="container firstyrs">
        <div class="row">
        <% for(let firstyr of firstyrs) { %>
            <div class="col-md-4">
                <div class="card firstyr">
                    <img src="<%= firstyr.img %>" class="card-img-top" alt="PIC TEST">
                    <div class="card-body">
                        <h5 class="card-title card_title">Name: <%= firstyr.name %></h5>
                        <p class="card-text">
                            <span>Year: <%= firstyr.year %></span><br>
                            <span>Branch: <%= firstyr.branch %></span><br>
                            <span>Email: <%= firstyr.email %></span><br>
                            <span>Gamer-Tag: <%= firstyr.tag %></span><br>
                        </p>
                        <% if (firstyr.linkedIn) { %>
                            <a href="<%= firstyr.linkedIn %>" class="btn btn-primary"><i class="fab fa-linkedin fa-lg"></i></a>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>
        </div>
        </div>
    <% }else{ %>
    <div>
        No events.
    </div>
    <% } %>
</main>

<%- include("../partials/footer.ejs") %>