<%- include("../partials/header.ejs") %>
<main>
    <% if(fourthyrs.length > 0) { %>
    <div class="container fourthyrs">
        <div class="row">
            <% for(let fourthyr of fourthyrs) { %>
            <div class="col-md-4">
                <div class="card fourthyr">
                    <img src="<%= fourthyr.img %> " class="card-img-top"
                        alt="PIC TEST">
                    <div class="card-body">
                        <h5 class="card-title card_title">Name: <%= fourthyr.name%></h5>
                        <p class="card-text">
                            <span>Year: <%= fourthyr.year %></span><br>
                            <span>Branch: <%= fourthyr.branch %></span><br>
                            <span>Email: <%= fourthyr.email %></span><br>
                            <span>Gamer-Tag: <%= fourthyr.tag %></span><br>
                            <span>Placed in: <%= fourthyr.placement %></span><br>
                        </p>
                        <% if (fourthyr.linkedIn) { %>
                            <a href="<%= fourthyr.linkedIn %>" class="btn btn-primary"><i class="fab fa-linkedin fa-lg"></i></a>
                        <% } %>
                    </div>
                </div>
            </div>
            <% } %>
            <% }else{ %>
        </div>
    </div>
    <div>
        No events
    </div>
    <% } %>
</main>

<%- include("../partials/footer.ejs") %>