<%- include("../partials/header.ejs") %>
<main>
    <% if(fourthyrs.length > 0) { %>
    <div>
        <% for(let fourthyr of fourthyrs) { %>
        <div>
            <%= fourthyr.name %>
        </div>
        <div>
            <a style="border: 2px solid red" href="<%= fourthyr.img %>"></a>
        </div>
        <div>
            <%= fourthyr.info %>
        </div>
        <% } %>
    </div>
    <% }else{ %>
    <div>
        No events
    </div>
    <% } %>
</main>

<%- include("../partials/footer.ejs") %>