<%- include("../partials/header.ejs") %>
<main>
    <% if(secondyrs.length > 0) { %>
    <div>
        <% for(let secondyr of secondyrs) { %>
        <div>
            <%= secondyr.name %>
        </div>
        <div>
            <a style="border: 2px solid red" href="<%= secondyr.img %>"></a>
        </div>
        <div>
            <%= secondyr.info %>
        </div>
        <% } %>
    </div>
    <% }else{ %>
    <div>
        No events
    </div>
    <% } %>
</main>

<%- include("../partials/footer.ejs") %>