<%- include("../partials/header.ejs") %>
<main>
    <div style="margin-top: 100px; text-align: center;">
        <h1 style="font-size: 4rem; font-weight: bold; margin-bottom: 50px;">Third Years</h1>
    </div>
    <% if(thirdyrs.length > 0) { %>
    <div class="container thirdyrs">
        <div class="row">
            <% for(let thirdyr of thirdyrs) { %>
            <div class="col-md-4">
                <div class="card thirdyr">
                    <img src="<%= thirdyr.img %> " class="card-img-top"
                        alt="PIC TEST">
                    <div class="card-body">
                        <h5 class="card-title card_title">Name: <%= thirdyr.name %></h5>
                        <p class="card-text">
                            <span>Year: <%= thirdyr.year %></span><br>
                            <span>Branch: <%= thirdyr.branch %></span><br>
                            <% if (thirdyr.email) { %>
                                <span>Email: <%= thirdyr.email %></span><br>
                            <% } %>
                            <span>Gamer-Tag: <%= thirdyr.tag %></span><br>
                        </p>
                        <% if (thirdyr.linkedIn) { %>
                            <a href="<%= thirdyr.linkedIn %>"><i class="fab fa-linkedin fa-2x"></i></a>
                        <% } %>
                    </div>
                </div>
            </div>
            <% } %>
            <% }else{ %>
        </div>
    </div>
    <div>
        No events
    </div>
    <% } %>
</main>

<%- include("../partials/footer.ejs") %>