<%- include("../partials/header.ejs") %>
<main>
    <% if(thirdyrs.length > 0) { %>
    <div class="container">
        <div class="row">
            <% for(let thirdyr of thirdyrs) { %>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Name: <%= thirdyr.name %></h5>
                        <p class="card-text">
                            <span>Year: <%= thirdyr.year %></span><br>
                            <span>Branch: <%= thirdyr.branch %></span><br>
                            <span>Email: <%= thirdyr.email %></span><br>
                            <span>Gamer-Tag: <%= thirdyr.tag %></span><br>
                        </p>
                        <a href="<%= thirdyr.linkedIn %>" class="btn btn-primary">LinkedIn</a>
                    </div>
                </div>
            </div>
            <% } %>
            <% }else{ %>
        </div>
    </div>
    <div>
        No events
    </div>
    <% } %>
</main>

<%- include("../partials/footer.ejs") %>